<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Groundbreakr</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <% if current_user %>
            <li class="active">
              <a href="#">Signed in as <%= current_user.name %></a>
            </li>
            <li><%= link_to "Sign out", signout_path %></li>
          <% else %>
            <li class="active">
              <%= link_to "Sign in with Runkeeper", "/auth/runkeeper"%>
            </li>
          <% end %>
        </ul>

        <!-- Left Nav Section -->
<!--         <ul class="left">
          <li><a href="#">Left Nav Button</a></li>
        </ul> -->
      </section>
    </nav>

        <% if current_user %>
          <div class="row">
            <div class="large-6 large-centered columns">
              <h2><%= runkeeper_user.name.upcase %></h2>

              <div class="runkeeper_profile_image">
                <%= image_tag(current_user.runkeeper_normal_picture) %>
              </div>

              <div class="user_stats_container">
                <table>
                  <tr>
                    <th>PROJECTS</th>
                    <th>TOTAL IMPACT</th>
                    <th>MILES</th>
                  </tr>
                  <tr>
                    <td>0</td>
                    <td>$<%= database_user.total_donated %></td>
                    <td><%= database_user.total_distance %></td>
                  </tr>
                  </table>

              </div>
              <div class="fund_avatar">
                <%= image_tag('watsi-logo.png', height: '23', width: '100', class: 'featured-logo' ) %><br>
                <%= image_tag("http://images-1.good.is/albums/crop?image_url=" + featured_fund.avatar_url + "&geometry=120x120%23", class: 'featured_avatar') %>
              </div>
              <div class="featured-right-container">
                <div class="featured_text">
                  <p>YOU'VE RUN <%= database_user.total_distance %> MILES FOR <%= featured_fund.name.upcase %></p>
                </div>
                <% contribution = featured_fund.raised_amount %>
                <% if contribution  > featured_fund.target_amount %>
                  <% contribution = featured_fund.target_amount %>
                <% end %>
                <div class="percent_completed">
                  <% progress_number = ((contribution.to_f/featured_fund.target_amount.to_f)*100).round(0) %>
                  <%= progress_number %>% COMPLETED
                  <div class="progress">
                    <span class="meter" style="width: <%= progress_number %>%;"></span>
                  </div>
                </div>
                <div class="featured_fund_stat">
                  $<%= contribution %> of $<%= featured_fund.target_amount %> RAISED SO FAR
                </div>
              </div>
            </div>
          </div>

        <% end %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>